<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <h1><a href="#" class="logo">Device Management</a></h1>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a asp-controller="Home" asp-action="Index"><span class="fa fa-home mr-3"></span> Homepage</a>
            </li>
            <li>
                <a asp-controller="DeviceCategory" asp-action="Index"><span class="fa fa-user mr-3"></span>Device Category</a>
            </li>
            <li>
                <a asp-controller="DeviceCategory" asp-action="Create"><span class="fa fa-sticky-note mr-3"></span>Add Category</a>
            </li>
            <li>
                <a asp-controller="Device" asp-action="Index"><span class="fa fa-sticky-note mr-3"></span>Devices</a>
            </li>
            <li>
                <a  asp-controller="Device" asp-action="Create"><span class="fa fa-paper-plane mr-3"></span>Add Device</a>
            </li>
            <li>
                <a asp-controller="DeviceCategory" asp-action="DevicesByCategory"><span class="fa fa-sticky-note mr-3"></span>Devices By Category</a>
            </li>
           
           
        </ul>

    </nav>
    
    <div id="content" class="p-4 p-md-5 pt-5">
        @RenderBody()
    </div>
</div>
<script src="~/js/site.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/main.js"></script>




</body>
</html>